@model Blog.ViewModels.RoleViewModel

@{
    ViewData["Title"] = "Role View";
}

<h2>Просмотр роли</h2>

<label asp-for="Name"></label>: @Model.Name
<br />
<label asp-for="Description"></label>: @Model.Description


<div>
    <a asp-area="" asp-controller="Role" asp-action="GetAll">Перейти к списку всех ролей</a>
</div>

