@{
    ViewBag.Title = "Ресурс не найден";
}
<h1>(404) Ресурс не найден.</h1>
<p>This page doesn't exist.</p>
<p>Please, contact the support by emailing them this page error.</p>
<p>To find the available contacts go to: @Html.ActionLink("Contacts", "Contact", "Home")</p>
