@model Blog.ViewModels.TagViewModel

@{
    ViewData["Title"] = "Tag View";
}

<h2>Просмотр тега</h2>

<label asp-for="Name"></label>: @Model.Name
<br />
Количество постов: @Model.Posts.Count

<div>
    <a asp-area="" asp-controller="Tag" asp-action="GetAll">Перейти к списку всех тэгов</a>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}