@using Microsoft.AspNetCore.Identity;
@using Blog_DAL.Models;
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form class="nav-link text-dark" method="post" asp-controller="Account" asp-action="Logout">
        <input class="link_submit" type="submit" value="Выйти" />
    </form>
}
else
{
    <form class="nav-link text-dark" method="get" asp-controller="Account" asp-action="LoginGet">
        <input class="link_submit" type="submit" value="Вход" />
    </form>
}

